.*lock*
.idea
*.iml
.*project
.gradle
build
docbook.xsd
lib/*.zip
lib/gradle
lib/**/*.zip
lib/fop-1.1
lib/docbook-*rwdalpe*
lib/docbook-xsl-java*
lib/tools/*calabash*
lib/asciidoctorj*
lib/jing*
lib/xmlcalabash*
lib/prepared_catalog.xml
src/**/img/
fontconfig
*.xpr
~*
*~
